@import "visible";

.z-contain {
  width: 1200px;
  margin: 0 auto;
}

//顶部信息轮播

.head-tips {
  width: 100%;
  background-color: #1DB0B8;
  .focus {
    width: 1200px;
    height: 36px;
    position: relative;
    margin: 0 auto;
    #pic {
      width: 900px;
      height: 36px;
      overflow: hidden;
      ul {
        height: 36px;
        float: left;
        li {
          width: 900px;
          height: 36px;
          float: left;
          line-height: 36px;
          a {
            display: inline-block;
            padding: 0 10px;
            font-size: 14px;
            font-weight: bold;
            color: #fff;
          }
        }
      }

    }
    .telphone{
      h1{
        line-height:36px;
        font-weight: bold;
        text-align: right;
        color: #fff;
        width:300px;
      }

    }
  }

}

//顶部信息轮播end

//头部nav菜单
.header {
  width: 100%;
  background-color: #fff;
  .head-content {
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    border-bottom: #ccc solid 1px;
    .logo {
      width: 300px;
    }
    .main-nav {
      width: 900px;
      .nav-list {

        .list-item {
          width: 100px;
          a {
            line-height: 70px;
            text-align: center;
            display: inline-block;
            width: 100%;
            color: @mainColor;
            transition: all 0.5s ease 0s;
          }
          a:hover {
            color: #fff;
            background-color: @mainColor;
            box-shadow: 0 5px 30px 2px rgba(0, 143, 180, 0.2);
          }
        }
      }
    }
  }
}

//头部nav菜单
//轮播图
.fullSlide {
  width: 100%;
  position: relative;
  height: 400px;
  background: #000;
  margin-bottom: 20px;;
  .bd {
    margin: 0 auto;
    position: relative;
    z-index: 0;
    overflow: hidden;
    ul {
      width: 100% !important;
    }
    li {
      width: 100% !important;
      height: 400px;
      overflow: hidden;
      text-align: center;
    }
    li a {
      display: block;
      height: 400px;
    }
  }

  .hd {
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    height: 30px;
    line-height: 30px;
    background: url(../images/touming.png) repeat-x;
    text-align: center;
    _background: #000;
    _filter: alpha(opacity=60);
    ul {
      text-align: center;
      padding-top: 5px;
    }
    ul li {
      cursor: pointer;
      display: inline-block;
      *display: inline;
      zoom: 1;
      width: 8px;
      height: 8px;
      margin: 5px;
      background: url(../images/tg_flash_p.png) -18px 0;
      overflow: hidden;
      line-height: 9999px;
    }
    ul .on {
      background-position: 0 0;
    }
  }

}

//轮播图

//主页中间介绍
.main-info {
  margin-bottom: 20px;;
  background-color: #fff;
  .info-titlepic {
    img {
      width: 400px;
      height: 240px;
    }

  }
  .info-content {
    margin-left: 20px;;
    width: 780px;
    height: 240px;
    overflow: hidden;
    padding: 10px 0;
    color: @mainColor;
    .info-content-title {
      font-size: 18px;
      line-height: 30px;
      //font-weight: bold;
    }
    .info-content-con {
      width: 760px;
      font-size: 14px;
      line-height: 20px;
      text-indent: 2em;
    }
  }
}

//主页中间介绍

//产品列表
.product {
  .product-left {
    width: 300px;
    margin-right: 20px;
    .product-left-list {
      padding: 20px 20px 0;
      background-color: #fff;
      height: 460px;
      margin-bottom: 20px;
      .left-lists .list-group-item {
        border: none;
        padding-left: 0;
      }
      .left-list-title {
        font-size: 16px;
        border-bottom: #EBEBEB solid 1px;
        margin-bottom: 10px;
        > span {
          border-bottom: @mainColor solid 1px;
          line-height: 32px;
          display: inline-block;
          position: relative;
          bottom: -1px;
          padding-right: 10px;

        }
      }
    }
    .left-ad {
      width: 300px;
      height: 220px;
      img {
        width: 300px;
        height: 220px;
      }
    }
  }
  .product-right {
    width: 880px;
    overflow: hidden;
    .right-lists {
      width: 1000px;
      .right-list-item {
        margin-right: 20px;
        margin-bottom: 20px;
      }
    }
  }

}

.cell-item-product {
  width: 280px;
  height: 340px;
  position: relative;
  overflow: hidden;
  :hover .cell-info {
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .cell-titlepic {
    img {
      width: 280px;
      height: 340px;
    }
  }
  .cell-info {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.5s ease 0s;
    bottom: -58px;
    padding: 10px 20px;
    width: 280px;
    .cell-title {
      font-size: 16px;
      text-align: center;
      line-height: 36px;
      color: #fff;
      margin-bottom: 10px;
    }
    .cell-dec {
      font-size: 14px;
      line-height: 24px;
      color: #fff;
      text-align: center;
      height: 48px;
      overflow: hidden;
    }
  }

}

//产品列表

//产品轮播
/* 本例子css */
.product-slide {
  height: 225px;
  margin-bottom: 20px;
}

.ladyScroll {
  width: 1200px;
  height: 225px;
  border: #ddd 1px solid;
  position: relative;
  .scrollWrap {
    width: 1200px;
    margin-left: 20px;
    padding-top: 20px;
    overflow: hidden;
    position: absolute;
    .dlList {
      dl {
          float: left;
          width: 185px;
          text-align: center;
          position: relative;
          margin-right: 10px;
        dt {
          width: 185px;
          height: 185px;
          overflow: hidden;
          img {
            display: block;
            width: 185px;
            height: 185px;
          }
        }

      }
    }
  }
  .prev, .next {
    width: 51px;
    height: 45px;
    position: absolute;
    top: 75px;
    left: 0;
    z-index: 100;
    cursor: pointer;
    background: url(../images/btns.png) no-repeat;
  }
  .next {
    left: auto;
    right: 0;
    background-position: 0 -90px;
  }
  .prev:hover {
    background-position: 0 -45px;
  }
  .next:hover {
    background-position: 0 -135px;
  }



  span {
    display: block;
    width: 298px;
    height: 53px;
    position: absolute;
    left: 5px;
    bottom: 0;
    background: #5f626b;
    filter: alpha(opacity=80);
    opacity: 0.80;
  }

  dd {
    width: 298px;
    height: 40px;
    line-height: 28px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    overflow: hidden;
    position: absolute;
    left: 5px;
    bottom: 0;
  }
  dd a {
    color: #fff;
  }
  dd a:hover {
    text-decoration: none;
  }
  .ladyScroll dl:hover span {
    background: #B52153;
  }


}

//产品轮播

//友链
.friendly-link {
  width: 1200px;
  /*margin-top: 10px;*/
  padding: 15px 0;
  margin: 0 auto;

}

.friendly-link-head h2 {
  font-size: 16px;
  line-height: 34px;
  color: @mainColor;
  border-top: 2px solid @mainColor;
  text-indent: 15px;
}

.friendly-link-content {
  padding: 0 15px;
}

.friendly-link-content a {
  font-size: 14px;
  margin-right: 5px;
  color: #333;
  line-height: 22px;
}

.friendly-link-content a:hover {
  color: @mainColor;
}

//友链

//新闻
.tabRank {
  width: 280px;
  margin-right: 20px;
  float: left;
  border: 1px solid #d8d8d8;
  .hd {
    background-color: #e2e2e2;
    height: 29px;
    line-height: 28px;
    border-bottom: none;
    h3 {
      float: left;
      width: 124px;
      overflow: hidden;
      text-align: center;
      a {
        color: #333;
        font-size: 14px;
        font-weight: bold;
      }
    }
  }


  .hd h3.on {
    background-color: #f9f9f9;
    height: 29px;
  }
  .hd h3.on a {
    display: block;
    color: #e72410;
  }

  .bd {
    height: 424px;
    background-color: #f9f9f9;
    clear: both;
  }
  .bd ul {
    padding: 10px 8px;
  }
  .bd .ulList li {
    border-bottom: 1px solid #e5e5e5;
    height: 42px;
    line-height: 42px;
    width: 232px !important;
  }
  .bd .ulList li a {
    color: #333;
  }
  .bd .ulList li .num {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    background: url(images/icons.png) no-repeat -50px 0;
    width: 24px;
    height: 20px;
    display: block;
    float: left;
    line-height: 17px;
    text-align: center;
    margin-top: 13px;
    padding-right: 6px;
  }
  .bd .ulList li.t .num {
    background-position: 0 0;
    color: #fff;
  }
  .bd .ulList li.t {
    line-height: 42px !important;
  }
  .bd .ulList li.on img {
    width: 150px;
    height: 94px;
    padding: 4px;
    border: 1px solid #d0d0d0;
    background-color: #fff;
  }
  .bd .ulList li .pubtext {
    color: #777;
    display: none;
  }
  .bd .ulList li .pubtext strong {
    color: #E72410;
  }
  .bd .ulList li .pubtext a {
    color: #E72410;
  }
  .bd .ulList li .pubpic {
    display: none;
  }
  .bd .ulList li .pubtitle p {
    display: none;
  }
  .bd .ulList li.on {
    height: 180px;
    text-align: center;
    line-height: 22px !important;
  }
  .bd .ulList li.on .pubpic {
    display: block;
    padding-top: 5px;
  }
  .bd .ulList li.on .pubtext {
    color: #777;
    display: block;
  }
  .bd .ulList li.on .pubtitle p {
    display: block;
  }

  .tabRank .bd .ulList2 .pic {
    float: left;
  }
  .tabRank .bd .ulList2 .con {
    float: right;
    width: 160px;
  }
  .tabRank .bd .ulList2 li {
    clear: both;
    padding-top: 8px;
    height: 58px;
    border-bottom: 1px solid #E5E5E5;
  }
  .tabRank .bd .ulList2 img {
    width: 57px;
    height: 47px;
    padding: 1px;
    border: 1px solid #d0d0d0;
    background-color: #fff;
    float: left;
  }
}

//新闻

//底部
/*··························底部样式开始···························*/
.footerWrap {
  width: 100%;
  .footer, .footer11 {
    width: 1200px;
    margin: 0 auto;

  }
  .footNavWrap {
    width: 1200px;
    background-color: @mainColor;
    margin: 0 auto;
    padding: 20px 0;

  }
}

.footNavWrap a {
  color: #fff;
  font-size: 14px;
}

.footNav {
  float: left;
  width: 840px;
}

.footCode {
  float: right;
  width: 360px;
  .firstCode {
    width: 200px;
    text-align: center;
    margin: 0 auto;
  }

}

.footNav > .foot-lists {
  float: left;
  width: 260px;
  /*width: 94px;*/
  margin-right: 20px;
  padding-right: 20px;
  border-right: #ccc solid 1px;
  .foot-list-title {
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    float: left;
    width: 100%;
    font-weight: normal;
  }
  .foot-list-item {
    width: 50%;
    float: left;
    line-height: 30px;
    font-size: 14px;
    font-weight: normal;
  }
}

.footNav > dl > dd > a {
  font-size: 16px;
}

div.footBian {
  width: 100%;
  background-color: @mainColor;
}

.footCode img {
  height: 98px;
  width: 98px;
}

.footCode h3 {
  font-size: 14px;
  line-height: 32px;
}

.footBtm {
  height: 104px;
  padding: 10px 0;
}

.lianxi {
  float: left;

}

.footTil {
  margin-bottom: 10px;
  position: relative;
  margin-right: 20px;
  width: 160px;
  height: 60px;
}

.footTil span {
  margin-right: 14px;
  font-size: 18px;
  //font-weight: bold;
  color: #b90007;
  line-height: 20px;
}

.footTil i {
  font-size: 16px;
  line-height: 20px;
}

.footcon > p {
  line-height: 24px;
}

.zhanzhang {
  position: absolute;
  left: 260px;
  top: 0;
}

//底部

//add
.product-slide{
  background-color: #fff;
}
.product-left{
  .list-group-item{
    transition: all 1s ease 0s;
    &:hover{
      background-color: @mainColor;
      color: #fff;
      a{
        color: #fff;
      }
    }
  }
}
.cell-item-product{
  transition: all 0.5s ease 0s;
  &:hover{
    box-shadow: 0 10px 30px rgba(0,143,181,0.3);
  }
}
.cell-item-product .cell-info{
  background-color: rgba(0,143,181,0.4);

}
.cell-item-product{
  &:hover .cell-info{
    background-color: rgba(0,143,181,0.8);
  }
}
.news-list{
  width:1220px;
}
.ladyScroll{
  .next, .prev{
    background-image: none;
    width:40px;
    height:60px;
    line-height:60px;
    text-align: center;
    font-size: 30px;
    opacity: 0.4;
    transition: all 0.5s ease 0s;
    &:hover{
      background-color: rgba(0,0,0,0.4);
    }
  }
  &:hover{
    .next, .prev{
      opacity: 0.8;
      background-color: rgba(0,0,0,0.2);
    }
  }
}
.footNav>.foot-lists{
  padding-right: 0;
}
.foot-list-item{
  padding-left:20px;
  position: relative;
  &:before{
    content: '•';
    position: absolute;
    color: #fff;
    //text-align: center;
    width:20px;
    left:0;
    line-height:30px;
  }
}





.tabRank{
  width:285px;
  transition: all 0.5s ease 0s;
  .bd {
    background-color: #fff;
    padding: 20px;
    height: 444px;
    .ulList-title{
      border-bottom: #EBEBEB solid 1px;
      span{
        font-size: 18px;
        line-height:36px;
        border-bottom:@mainColor solid 1px;
        position: relative;
        bottom: -1px;
        display: inline-block;
      }
    }
    .ulList {
      //padding: 20px;
      li{
        width:100%!important;
        //transition: all 1s ease 0s;
        .pubtitle{
          a{
            font-size: 14px;
            line-height:28px;
            display: inline-block;
            width:100%;
          }
          p{
            font-size: 12px;
            line-height:20px;
          }
        }
      }
      li.on {
        height: 194px;
        a{
          display: inline-block;
          position: relative;
          img{
            width: 170px;
            height:120px;
          }
        }
        .pubtitle{
          a{
            color: @mainColor;
            .pubtitle-time{
              display: none;
            }
          }
          p{
            color: @mainColor;
          }
        }

      }
    }
  }
  &:hover{
    box-shadow: 0 15px 30px rgba(0,143,181,0.2);
    border-color: @mainColor;
  }
}
.news-top{
  padding-top: 15px;
  .news-top-item{
    margin-bottom: 15px;
    .news-item-titlepic{
      width:80px;
      height:60px;
      margin-right: 10px;
      img{
        width:80px;
        height: 60px;
      }
    }
    .news-item-info{
      width:150px;
      .news-item-title{
        font-size: 16px;
        line-height:36px;
        overflow: hidden;
      }
      p{
        font-size: 12px;
        color: #666;
        line-height:24px;
        span{
          width:50%;
          float: left;
        }
      }
    }
  }
}
