
@import "visible";
#top_head{width:100%;min-width:1200px;background:@mainColor;height:50px;font-size:9pt;line-height:50px;color:#fff; position:relative;overflow: hidden;}

#top_head,nav{margin:0;padding:0}

 

#top_head a{float:left;color:#fff;padding:0 12px;font-size: 15px}

#top_head a:last-child{margin-right: 0}

#top_head a:hover,#top_head a.on{color:#fff;background-color: #801916}

.top_nav{float:none;width:1200px;margin:0 auto}

.path_nav{ display:none;}

.path_nav #logo{background:url(../navlogo.gif) no-repeat 4px 17px;padding:0 0 0 25px}

.path_nav span{float:left;text-decoration:none;padding:0 3px;margin:0 7px;color:#666}



.clr{clear: both;}

.fl{float: left;}

.fr{float: right;}

.logo img{height: 80px}



.header_top{height: 40px;background: #333;line-height: 40px;color: #f7f7f7;font-size: 14px}

.header_top a{color: #eee;font-size: 12px}

.loginbtn{background: #666;padding:2px 5px;margin-right: 10px}

.header_top li{    border-right: 1px #1f1f1f solid;float: left;padding:0 15px;}

.main{width: 1200px;margin:0 auto;}



.search form{display: block;width: 500px;height:36px;background: #f7f7f7;position: absolute;left: 50%;margin-left: -250px;top:50%;margin-top: -18px;padding:0;padding-left: 10px}

.search form input{width: 80%;height: 100%;border:none;float: left;padding: 0;margin: 0;outline: none;background: none}

.search form button{width: 20%;height: 100%;border:none;float: left;padding: 0;margin: 0;outline: none;background: @mainColor;color: #fff}



.userinfo ul li{float: left;text-align: center;margin-left: 40px;height: 60px;line-height: 20px;margin-top:15px;}



.iconfont{width: 35px;height: 35px;display: block;margin:0 auto;background-size:100%;}

.iconfont.icon-mobile{background-image: url(../iconfont-mobile.png);}

.iconfont.icon-apple{background-image: url(../iconfont-apple.png);}

.iconfont.icon-android{background-image: url(../iconfont-android.png);}



.left_list{ float:left;position:relative; width:200px;background: #fff;z-index: 10;}

.ind_hq_list{top:52px;bottom:135px; position:fixed;z-index: 99; width:161px;border-left:1px solid #e8e8e8;border-right:1px solid #e8e8e8;font-family: "Microsoft YaHei","SimSun","Arial Narrow";}

.ind_hq_list a{float:left; position:relative;width:141px;padding:19px 8px;border-left:4px solid #fff; border-bottom:1px solid #f1f1f1; background:url(../arrow.png) no-repeat right center #fff;}

.ind_hq_list a:hover{background-color:#ffc;border-left:4px solid #fc9;}

.ind_hq_list a h2{ display:none;}

.ind_hq_list a h3,.ind_hq_list a strong,.ind_hq_list a em{display:inline-block; width:53%; margin:0;font-size: 12px;line-height: 18px; font-style:normal;}

.ind_hq_list a.up em{ width:47%; color:#ff0a0a;}

.ind_hq_list a.down em{ width:47%; color:#009632;}



.ind_stock_dr{ background-color:#fff;position:fixed;z-index: 100; bottom:0;width:161px;border:1px solid #e8e8e8; border-bottom:0; color:#999;padding-top:12px;}

.ind_stock_dr:before{position:fixed; bottom:135px;content:''; display:block; width:161px; height:53px;background: url(../stock_dr_bg.png) repeat-x}

.ind_stock_dr p{ padding:12px; padding-top:0; margin:0;}

.ind_stock_dr input{border:1px solid #ddd; background-color:#f7f7f7;width:100%;height:26px; padding:0 8px;}

.ind_stock_dr input[type="text"]{ width:119px;}

.ind_stock_dr input[type="submit"]{ background-color:#298fc6; border:0; color:#fff; font-size:14px;height:30px;}



#wrap {float: none;width: 1200px;margin: 0 auto;margin-top: 20px}



.news_list{ position: relative;float:left; margin-left:5px; background-color:#fdfdfd; width:600px;border:1px solid #e8e8e8;border-bottom:0px; padding:20px; padding-top:0;}

.news_list .itemsinfo {float:left; display:block;width:100%;color:#222;margin-top:20px;padding:0;height:122px;border-bottom:1px solid #eee}
.news_list .firsttitle{height: auto;}
.news_list .firsttitle a{display:block;width:100%;color:#222;padding:0;height:122px;border-bottom:1px solid #eee;clear: both;}

.news_list .itemsinfo  img{float:left;width:147px;height:102px}

.news_list .itemsinfo a:hover{color:@mainColor}

.news_list .itemsinfo h2{float:left;width:429px;height:30px; overflow:hidden;margin:8px 0 8px 20px;font-size:22px;font-family:"Microsoft YaHei","SimSun","Arial Narrow"}

.news_list .itemsinfo p{float:left;width:429px;margin:0 0 0 20px;color:#999;font-size:14px;line-height:24px;height:3pc;overflow:hidden}

.news_list a.more_list{float:left;width:100%;height:56px;font-size:16px;line-height:56px;text-align:center;letter-spacing: 5px; border:0;background:#fff}

.news_list a.toutiao{width:560px;height:320px;padding:20px;position: relative;}

.news_list a.toutiao h2{width:100%; height:30px; overflow:hidden; margin:235px 0 12px 0px; font-size:24px; color:#fff;text-shadow:0 0 2px #000;}

.news_list a.toutiao p{ width:100%; height:48px; overflow:hidden; color:#eee; margin:0;;text-shadow:1px 1px 0px #000;position: relative;z-index: 3;text-indent: 30px}

.news_list a.toutiao .smallcover{    
	position: absolute;
    height: 150px;
    background: url(../jianbian.png) repeat-x 100%;
    width: 100%;
    left: 0;
    background-position: bottom;
    bottom: 0px;
    z-index: 2;}
 .news_list ul{float: left; width:600px;background-color:#f3f3f3; margin:20px 0 0 0; padding:0;}

.news_list li{ float:left; position:relative; list-style:none;border-top:4px solid #f3f3f3; font-size:14px; }

.news_list li:before{content:''; display:block; position:absolute; width:1px; background-color:#e8e8e8; height:25px; left:-1px; top:10px;}

.news_list li.on{ background-color:#fff;width: 84px; border-top:4px solid #298fc6; border-left:1px solid #e8e8e8;border-right:1px solid #e8e8e8;}

.news_list li.on a{ border-bottom:1px solid #fff; padding:15px 28px;}

.news_list ul a{ width:auto; height:15px; margin-top:0; padding:15px 24px;}

.items-img{position: relative;    float: left;
    width: 147px;
    height: 102px;}
.items-img span{
    position: absolute;
    width: auto;
    background: @mainColor;
    left: 0;
    top: 0;
    text-align: center;
    color: #fff;
    padding: 3px 10px;

}
.items-img span a,.items-img span a:hover{color: #fff!important}
.top_title{padding:0 5px 5px 5px;text-align: center;}

.nav-fix, .news-nav-fix {position: fixed;width:200px;z-index:0;}

.hot-online ul{overflow:hidden;}

.hot-online li{line-height:21px;font-size:13px;padding-bottom:10px;}

.hot-online .hot-online-date{font-size:14px;font-weight:bold;border-bottom:1px solid #e9e9e9;color:#089AFD;margin-bottom:1px;}

.hot-online .hot-online-date span{border-bottom:1px solid #089AFD;display:inline-block;padding:2px 0;}



.list-time ul{overflow:hidden;padding-bottom: 15px}

.list-time li{border-left: 1px solid #e9e9e9;margin-left:4px;padding-left:15px;position:relative}

.list-time li:hover{background:#f2f2f2;}

.list-time li .info{font-size:13px;color:#999;position: relative;margin-left: -19px;}

.list-time li .info .icon-city{float:right;font-size:13px}

.list-time li .info .time{font-size:12px;margin-left:0px;}

.list-time li .info .time .icon-time{color:#089AFD;font-size:14px;display:inline-block;width: 8px;height: 8px;border-radius: 50%;background: @mainColor;margin-right: 5px}

.list-line li{border-bottom:1px dotted #e9e9e9;padding:6px 0;overflow:hidden;}/*2016*/

.list-line li:last-child{border:0}



.list-img li{line-height:24px;overflow: hidden;font-size:16px}

.list-img li .img{float:left;margin-right:20px;background:none;}

.list-img-right li .img{float:right;margin-left:20px;margin-right:0}



/*第一线-start*/

.nano{position:relative;width:100%;height:100%;min-height:800px;overflow:hidden}

.nano>.nano-content,.nano>.nano-pane{position:absolute;right:0;top:0;bottom:0}

.nano>.nano-content{overflow:scroll;overflow-x:hidden;left:0;padding-right:5px}

.nano>.nano-content:focus{outline:dotted thin}

.nano>.nano-content::-webkit-scrollbar{display:none}

.has-scrollbar>.nano-content::-webkit-scrollbar{display:block}

.nano>.nano-pane{width:5px;visibility:hidden\9;opacity:.01;-webkit-transition:.2s;-moz-transition:.2s;-o-transition:.2s;transition:.2s;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}

.nano>.nano-pane>.nano-slider{background:#444;background:rgba(172,172,172,.5);position:relative;margin:0 1px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}

.nano-pane.active,.nano-pane.flashed,.nano:hover>.nano-pane{visibility:visible\9;opacity:.99}

/*第一线-end*/

.news-list .list-time{padding:10px 0 15px 0;}

.news-list .list-time li {overflow:visible !important;padding: 6px 0px 6px 15px !important;font-size:15px}

.news-list .list-time li .info .date{float:none;}

.news-list .hot-online .hot-online-date{border-bottom:0;padding-top:5px}





.right_list{float:right;width:330px; padding:20px; padding-right:0; overflow:hidden;padding-top: 0}

.hq{float:left;width:302px;height:354px;background:url(../hqbg.png) no-repeat #298fc6;padding:6px 14px 0 14px;}

.hq p{float:left;text-indent:24px;width:302px;color:#FFF;line-height:24px;padding:8px 0;margin:0;}

.hqpic{float:left;width:302px;margin:3px 0;}

.hqpic b{float:left;width:173px;margin:0px 13px 0px 13px;height:36px;line-height:36px;font-size:18px;font-family:Arial,Helvetica,sans-serif;color:#399}

.hqpic em{font-style:normal;font-size:9px;float:right;font-weight:normal;font-family:Verdana,Geneva,sans-serif}

.hqpic .hq_data{float:left;width:198px;margin: 8px 2px;}

.hqpic .hq_data a{float:left}

.hq a{color:#fff}

.hqpic img{margin:0 14px 14px 14px;float:left;width:168px;height:68px;border:1px solid #91bde1;display:inline}

.hqpic ul{float:left;width:81px;border-left:1px dashed #CCC;height:130px;}

.hqpic ul li{float:left;width:66px;text-align:center;margin:10px 0 0 15px;display:inline}

.hqpic ul li a{display:block;padding:8px 4px;background:#298fc6;color:#a9d2e8}

.hqpic ul li a:hover,.hqpic ul li a.on{background:#c60000;color:#f4cccc}

.hq span{float:left;width:302px;height:21px;line-height:21px;padding-bottom:10px;font-weight:bold;text-align:right;color:#f90}

.hq span a{color:#FF0}

.hq span a:hover{color:#fff}

.hq span.p_gcw{ display:none;}





/*box-plate:2016å†…å®¹æ¿å—*/

.box-plate{margin-bottom:20px}

.box-plate h3{font-size:21px;font-weight:normal;height:36px;margin:0;padding:0;border-bottom:solid 1px #e9e9e9;}

.box-plate h3.noline{border-bottom:0}

.box-plate h3 span.more{float:right;color:#999;font-size:13px}

.box-plate h3 span.more a{color:#999;}

.box-plate h3 span.more a:hover{color:#089AFD;}

.box-plate h3 i.icon{font-size:20px}

.box-plate .row{margin-top:10px}





.img-responsive{width: 100%;}



.box-fix-r .list-img li{padding:10px 0;font-size:14px}

.box-fix-r .list-img li .img{width:120px;}

.box-fix-r .list-img li.grayback{padding:0px 10px 0px 0px;height:72px;overflow:hidden;}

.box-fix-r .list-img li.grayback .img{margin-right:10px;width:120px;overflow:hidden;}

.box-fix-r .list-img li.grayback .img img{width:144px;height:72px;margin:0 auto;max-width:144px;-webkit-transform:translate(-20%,0%);transform:translate(-20%,0%);}

.box-fix-r .list-colmun li{padding:15px 0}

.box-fix-r .list-colmun li .img{width:60px;height:50px;text-align:center;font-size:12px}

.box-fix-r .list-colmun li .img img{border-radius:50%;max-width:30px;margin:0 auto;}

.box-fix-r .list-interview li{padding:15px 0}

.box-fix-r .list-interview li .img{width:90px;height:90px;}

.box-fix-r .list-interview li .img img{border-radius:50%}

.box-fix-r .list-interview li .btitle{margin-bottom:6px}



/*project:2016*/

.box-fix-r .list-project li .title,.box-fix-r .list-investor li .title{font-size:18px}

.box-fix-r .list-project li,.box-fix-r .list-investor li{padding:14px 0;}

.box-fix-r .list-project li .img,.box-fix-r .list-investor li .img{width:92px;height:92px;}

.box-fix-r .list-project li .img a{width:90px;height:90px;border-radius: 10px;display: table-cell;vertical-align: middle;border: 1px solid #ededed;}

.box-fix-r .list-project li .img img{max-width:90px;    border-radius: 10px;}

.box-fix-r .list-project li .info div{color:#999;font-size:13px}

.box-fix-r .list-project li .info strong{color:#c63927;font-family: 'Georgia',"Microsoft YaHei";font-size:15px}

.box-fix-r .list-project li .btn-yue,.box-fix-r .list-investor li .btn-yue{margin-top:5px}



/*investor:2016*/

.box-fix-r .list-investor li .img{border:0}

.box-fix-r .list-investor li .img img{height:90px;width:90px;}

.box-fix-r .list-investor li .info div{color:#999;font-size:13px}

/*list-end*/

.box-fix-r .list-interview li .btitle {

    margin-bottom: 6px;

}

.btitle{color: @mainColor;font-weight: normal;font-size: 19px;}

.btitle span{color:#888;padding-left:10px;font-size:13px;font-weight:normal}



/*右侧融资事件:2016*/

.box-fix-r .list-inv{margin-top:15px;}

.box-fix-r .list-inv .list-project{overflow:hidden;padding-bottom:10px;}

.box-fix-r .list-inv .list-project .img{width:60px;height:60px;float:right;overflow:hidden;border-radius:10px;}

.box-fix-r .list-inv .list-project .img img{max-width:60px;height:auto;}

.box-fix-r .list-inv .list-project .title{font-size:18px;}

.box-fix-r .list-inv .list-project .desc{color:#787878;}

.box-fix-r .list-inv .list-project .desc span.m{color:#c63927;font-family: 'Georgia',"Microsoft YaHei";font-size:16px;}

/*右侧融资事件:end*/





.gcw_m_top_ad{ position:absolute; top:20px;border-bottom: 1px solid #fff;}

.gcw_m_top_ad a{ margin-top:0; border:0; height:54px; overflow:hidden;}

.gcw_m_top_ad a img{width:646px; height:54px;}



.gcw_r_ad{float:right;width:330px; height:auto;margin:0px 0 0;}

.gcw_r_ad img{width:330px}



.gcw_r_txt_ad a{background: url(../arrow.png) no-repeat right center;padding: 17px 0;float: left;display: block;width: 100%;text-align: center;font-size: 14px;color: #1879b8;}



.gcw_pro{float:right;width:330px; height:220px;background:url(../gcw_pro.gif) no-repeat 0 -1px #fff;margin:0 0 0; font-size:14px; color:#333; text-align:center}

.gcw_pro ul{ float:left;}

.gcw_pro ul li{float:left;display:inline;}

.gcw_pro ul li a{float:right;width:109px;height:110px; overflow:hidden;line-height:168px;}

.gcw_pro ul li a:hover{color:#c00}





.r_new_list{float:right;width:330px}

.r_new_list h2{ width:100%;height:40px; background:fadeOut(@mainColor, 50%);}

.r_new_list h2 a,.r_new_list h2 a:hover{ display:block; width:110px; height:30px;font-size: 16px; padding:10px 0 0 0; border:0; margin:0; text-align:center; background:@mainColor; color:#fff; position:relative;font-weight: normal;}

//.r_new_list h2 a:before{content:'◆';color:@mainColor; position:absolute;left: 43%;bottom: -7px;}

.r_new_list h2:after{content:'热门新鲜事我先知';font-size:14px;padding-right: 3%;padding-top: 12px; float:right; font-weight:normal; color:#fff;}



.r_new_list a{
    float: left;
    width: 310px;
    background: #fff;
    /* margin: 8px 0 0; */
    height: 62px;
    padding: 10px 10px 15px 6px;
    border-left: 4px solid #fff;
    border-bottom: 1px solid #f1f1f1;
}

.r_new_list a:hover{background:#ffc;border-left:4px solid #fc9}

.r_new_list img{float:right;width:90px;height:60px;}

.r_new_list h3{float:left;width:200px; height:48px; overflow:hidden;margin:6px 0 0 10px;font-size:1pc;line-height:24px;font-family:"Microsoft YaHei","SimSun","Arial Narrow"}

#scroll-fixed{ width:330px;float:left;background: #fff}

.right_img{float:right;width:330px;margin:15px 0 0;background: #fff;}

.right_img img{margin: 0 auto;}







#info_list {background: #f1f1f1}

#info_list .news_list{width: 802px;background: #fff}

#info_list .r_new_list h2{margin: 0px}

#info_list .news_list p,#info_list .news_list h2 {width: 630px}





#article {

    width: 850px;

    background: #fff;

    float: left;

}

#article .news_list{border: 0!important}

#title{float:left;text-align:center;width:790px;padding:0 30px;height:127px;border-bottom:1px solid #eee;clear:both}

h1{font-family:"Microsoft YaHei","SimSun,Arial Narrow";padding:6px 0 7px 0;margin:0;font-size:24px;line-height:90px;height:90px;color:#333}

time{float:left}

#title time:before{ content:"发布时间：";}

#title em,time{margin:0;font-size:9pt;background:#eee;padding:0 14px;color:#666;height:24px;line-height:24px}

#title em{float:right;font-style:normal}

.header_x{float:left;width:790px;padding:20px 0 0 30px;background:#fff;margin:0;clear:both}

.content{float:left;width:790px;padding:20px 30px 10px 30px;margin:0;clear:both;border-bottom: 1px dashed #eee;margin-bottom: 30px}

.content p{font-size:18px;line-height:32px ;clear:both;padding:0px 0;margin:0;text-align:justify;text-justify:inter-word;color: #333}

/*.content center,.content figure{clear:both;width:100%;padding:0;margin:0;float:left;text-align:center}

/*.content figure iframe{float:left;width:100%;border:none;height:530px; margin:0 0 10px 0}

.content figcaption,.content p{float:left;font-family:"Microsoft YaHei","SimSun","Arial Narrow"}*/

.content figcaption{width:100%;font-size:20px;font-weight:700;margin:5px 0}

.content strong:before{content:'●';font-size:28px;vertical-align:-7%; color:#cc0000;padding-right:6px}

.content img{max-width:100%;margin:15px 0;padding:0;display: inline-block;}

.related{width:100%;float:left}

.related em{font-size:20px;line-height:46px;border-bottom:3px solid #e4e4e4;display:block;position:relative;font-style:normal;font-family:"Microsoft YaHei",SimSun,"Arial Narrow";margin:2% 0}

.related a{text-decoration:none;color:#333;line-height:29px;margin:1% 3% 1% 0;font-size:16px;width:22%;height:33px;display:inline-block}

.related em:before{content:"";width:80px;height:3px;background:#1879b8;position:absolute;top:46px}

.related a:before{content:"·";font-size:20px;color:#1879b8;vertical-align:bottom}


.sharePlatform{padding: 10px 30px 10px 30px}
.copyright{padding: 10px 0;line-height: 20px;font-size: 16px;color: @mainColor}
.pl-520am{margin-top: 20px;}
.pl-520am .null{text-align: center;}
.newsbefrom{float: right;}
.infotags,.newsbefrom,.newsbefrom a{font-size:16px;}
.infotags a{display: inline-block;margin-right: 5px;color: @mainColor;font-size:16px}
.right_adv{padding-bottom: 15px;clear: both;}
/*.right_adv img{height: auto!important;}*/

.yqlj a{border:1px solid #ddd;padding:2px 5px;background: #fff;display: inline-block;line-height: 20px!important}

.hz_link{ float:none;background:#e3e3e3; margin:0 auto; width:100%;display:table; padding:0;border-left:0 solid #f1f1f1; }

.hz_link dl{ width:738px;padding:0;float:left;margin:0 0px 20px 20px;}

.hz_link dl.hzlx{ width: 218px;padding: 0 0 0 33px ; margin:20px 20px 20px 0;float:right;border-left:1px dashed #bbb}

.hz_link dl.hzlx dt{ margin-bottom:0;}

.hz_link dt{line-height:40px;font-size:18px;font-family:"Microsoft YaHei","SimSun","Arial Narrow"; font-weight:normal; color:#333; margin:0 0 20px 0}

.hz_link dd{line-height: 24px; margin:0;}

.hz_link,.hz_link a{ color:#777; line-height:26px}

.hz_link a:hover{color:#c00}

.hz_link img{ display:inline; margin-right:10px; margin-top:5px;}

.hz_link .hzhp img{ height:30px;float:left;display:inline; margin-right:19px;}

.hz_link .hzhp{float:left;height:auto;width:736px;padding:20px 0 20px 0;border-bottom:1px dashed #bbb}

.hz_link .yqlj{float:left;height:auto;padding:0 0 0 0;width:735px;}

.dropdown {position: relative;}
.dropdown .sub{position: absolute;width: 110px;background: @mainColor;right: 0;top:50px;display: none;z-index: 999}
.dropdown:hover .sub{display: block;}
.dropdown .sub a{display: block;text-align: center;width: 100%;padding: 0!important}

footer{float:left;width:100%;min-width: 1200px; color:#999;background:#333;height:50px;line-height:50px;font-size:9pt}

footer p{width:1019px;float:none;margin:0 auto;padding:0 0 0 181px; text-align:left;}

footer a{color:#999}

footer span{float:right; padding:0 4px 0 0;letter-spacing: 3px;}

footer img{display: inline-block;vertical-align: middle;margin: -4px 4px 0 0;}

#rocket-to-top div {
    left:0;
    margin:0;
    overflow:hidden;
    padding:0;
    position:absolute;
    top:0;
    width:149px;
}
#rocket-to-top .level-2 {
    background:url("../rocket_button_up.png") no-repeat scroll -149px 0 transparent;
    display:none;
    height:250px;
    opacity:0;
    z-index:1;
}
#rocket-to-top .level-3 {
    background:none repeat scroll 0 0 transparent;
    cursor:pointer;
    display:block;
    height:150px;
    z-index:2;
}
#rocket-to-top {
    background:url("../rocket_button_up.png") no-repeat scroll 0 0 transparent;
    cursor:default;
    display:block;
    height:250px;
    margin:-125px 0 0;
    overflow:hidden;
    padding:0;
    position:fixed;
    right:0;
    top:80%;
    width:149px;
    z-index:11;
}
.pagenation {text-align: center;padding:30px 10px 10px 10px;clear: both;margin-top: 20px}
.pagenation a,.pagenation>b{display: inline-block;padding:5px 10px;background: #ddd;font-weight: normal;font-size:12px;}
.pagenation>b{background: @mainColor;color: #fff}


.interview .block .mark,  .news-list-mark li h3,.news-list-mark li .topic,.mark-topic,.life li .mark{color:#fff;background: rgba(0,0,0,.7)/*rgba(7,66,106,1)*/;_background: 0;_border: 0;filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#66000000', EndColorStr='#66000000');}
.interview .block .mark a,.news-list-mark li h3 a,.news-list-mark li .topic a,.mark-topic a,.life li .mark a{color:#fff;}
/*life:2016*/
.life ul{overflow:hidden;}
.life li{float:left;border-bottom:1px solid #fff;overflow:hidden;background: #000}
.life li,.life li .img,.life li .mark,.life li:hover .mark .topic{width:150px;background-size:150px;overflow:hidden;}
.life li,.life li .img a{width:150px;height:90px;vertical-align: middle;display: table-cell;overflow:hidden;text-align:center;}
.life li,.life li .img a img{height: 90px;}
.life li,.life li .img,.life li .mark,.life li:hover .mark .topic{height:90px;overflow:hidden;}
.life li .mark {position:relative;margin-top:-34px;}
.life li .mark .topic{height:34px;line-height:34px;padding:0 10px;font-size: 14px}
.life li .mark .topic .subject{color:#bfbfbf;line-height:21px;display:none;}
.life li:hover .mark{cursor:pointer;margin-top: -90px;-webkit-transition:margin 0.4s ease;-moz-transition:margin 0.4s ease;transition:margin 0.4s ease;}
.life li:hover .mark .topic{vertical-align: middle;display: table-cell;line-height:20px;background:url('../yellow-dot.gif') no-repeat right bottom;}
.life li.li3,.life li.li4{border-left:1px solid #fff;}

.life li.li2, .life li.li2 .img, .life li.li2 .mark,.life li.li2,.life li.li2 .img a {width:150px;height:200px;background-size:150px}
.life li.li2 .img img{height:200px;width:auto;}
.life li.li2:hover .mark {margin-top:-200px}
.life li.li2:hover .mark .topic{width:150px;height:200px;}
.life li.li2:hover .mark .topic .subject{display:block;margin-top:8px;}

.life li.li4, .life li.li4 .img, .life li.li4 .mark,.life li.li4,.life li.li4 .img a {width:150px;height:200px;background-size:150px}
.life li.li4 .img img{height:200px;width:auto;}
.life li.li4:hover .mark {margin-top:-200px}
.life li.li4:hover .mark .topic{width:150px;height:200px;}
.life li.li4:hover .mark .topic .subject{display:block;margin-top:8px;}

.life li.li1, .life li.li1 .img,.life li.li1 .mark,.life li.li1,.life li.li1 .img a {width:300px;height:150px;background-size:300px}
.life li.li1 .img img{width:300px;height:auto;}
.life li.li1:hover .mark {margin-top:-150px}
.life li.li1:hover .mark .topic{width:300px;height:150px;}
.life li.li1:hover .mark .topic .subject{display:block;margin-top:8px;}

.life li.li5{margin-top:-90px;}
    /*box-life-start:2016*/
.box-life .life li.li0, .box-life .life li.li0 .img, .box-life .life li.li0 .mark{width:340px;height:430px;}
.box-life .life li.li0 .img img{width:auto;height:430px;}
.box-life .life li.li0:hover .mark{margin-top:-430px;}
.box-life .life li.li0:hover .mark .topic{width:320px;height:430px;}
.box-life .life li.li1, .box-life .life li.li1 .img, .box-life .life li.li1 .mark, .box-life .life li.li2, .box-life .life li.li2 .img, .box-life .life li.li2 .mark, .box-life .life li.li3, .box-life .life li.li3 .img, .box-life .life li.li3 .mark, .box-life .life li.li4, .box-life .life li.li4 .img, .box-life .life li.li4 .mark{width:420px;height:210px;}
.box-life .life li.li1 .img img, .box-life .life li.li2 .img img, .box-life .life li.li3 .img img, .box-life .life li.li4 .img img{width:420px;height:100%;}
.box-life .life li.li1:hover .mark, .box-life .life li.li2:hover .mark, .box-life .life li.li3:hover .mark, .box-life .life li.li4:hover .mark{margin-top:-210px;}
.box-life .life li.li1:hover .mark .topic, .box-life .life li.li2:hover .mark .topic, .box-life .life li.li3:hover .mark .topic, .box-life .life li.li4:hover .mark .topic{width:420px;height:210px;}
.box-life .life li.li1, .box-life .life li.li2, .box-life .life li.li3, .box-life .life li.li4{margin-left:10px;border:none;}
.box-life .life li.li1, .box-life .life li.li2{margin-bottom:10px;}
.box-life .life li.li4{margin-top:0px;}
/*box-life-end:2016*/
.box-page{background:#fff;position:relative;z-index:1}
.box-page h2{font-size:28px;border-bottom:1px dashed #e9e9e9;height:45px;line-height:30px;font-weight: normal; }
.box-page h2 a{color:#555;font-weight: normal;}.box-page h2 a:hover{color:@mainColor;}
.box-page h2 >a{float: left;}
.box-page h2 .more{font-size:14px;float: right;}
.box-page h2 .more a{margin-left:15px;color:#888;font-weight: normal;}
.box-page h2 .more a:hover{color:@mainColor}

/*自定义样式PHOTO*/
.content{
    text-align:center;
    line-height: 25px;
}
.content img{
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width:400px;
    max-width:780px;
}